<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TestBlazorApp</a>
        <button title="Navigation menu" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="nav-item px-3">
    <a href="/products" class="nav-link">Продукт</a>
    <a href="/categories" class="nav-link">Категории</a>
</div>


@code {
  
}
